In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Dataset\\train.csv")

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Ways to handle the missing values

Deleting rows with null values

In [ ]:
# df.dropna()

Imputation techniques

<h6>Mean value imputation : Works well with normally distributed data</h6>

In [5]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

<h6>Median value imputation : Works well if we have outliers in the data</h6>

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

<h6>Mode value imputation : Works well with catogorical data</h6>

In [9]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [16]:
mode_value = df[df['Embarked'].notna()]['Embarked'].mode()[0]

df['Embarked'] = df['Embarked'].fillna(mode_value)